
.card{
    height: 21rem;
    width: 22rem;
}


.card-footer {
    margin-top: auto;
}
.myIcone {
    font-size: 5rem !important;
    margin-top: 2rem !important;

}

@media (max-width: 600px) {
  .myIcone {
    display: none !important;
  }
}
